@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Comic+Relief:wght@400;700&family=Gidole&family=Kanchenjunga:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Comic+Relief:wght@400;700&family=Gidole&family=Kanchenjunga:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Comic+Relief:wght@400;700&family=Gidole&family=Kanchenjunga:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Comic+Relief:wght@400;700&family=Gidole&family=Kanchenjunga:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --font1: 'Poppins';
  --font2: 'Roboto';
  --font3: 'Rubik';
  --font4: 'Kanchenjunga';
  --font4: 'Kanchenjunga';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: var(--font2);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.8rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

.popular-pack .popular {
  height: 16rem;
}

.all-packs .popular {
  height: 16rem;

}

.link {
  text-decoration: none;
}

.home-sample .relevance-cont h2 {
  padding-top: 0rem;
}


.home-sample .relevance-cont {
  padding-top: 0rem;
}

a {
  text-decoration: none;
  color: black;
}

.flash-cont {
  position: relative;
}

.global-flash {
  position: fixed;
  width: 15rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 6px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  animation: fadeOut 3.5s forwards;
}

.flash-msg {
  color: white;
  font-size: 1.26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.flash-border {
  height: 15%;
  width: 100%;
  background-color: green;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: shrinkLine 3.5s linear forwards;
}

.appointment-msg-cont {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.489);
  z-index: 999999;
}

.appointment-msg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111111110000;
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-msg-cont {
  position: relative;
}

.login-msg {
  position: fixed;
  width: 70%;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  border-radius: 6px;
  z-index: 1000;
  animation: fadeOut 3.5s forwards;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.login-msg div {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2rem;
}

.appointment-msg .msg li::marker {
  color: red;
  font-size: 1.26rem;
}

.appointment-msg button {
  margin-top: 1.26rem;
}

.appointment-msg .msg {
  font-size: 1.1rem;
  margin: 1rem 0rem;
  padding: 0.5rem 1rem 0.5rem 2rem;

}

.active-btn {
  background-color: green;
  transition: background-color 0.5s ease;
}

input:focus {
  border: 1.5px solid black;
  outline: none;
}

.navbar-cont {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 260000;
  border-bottom: 1px solid #21356d;

}

.contact,
.footer-center ul,
.choose-desc,
.head-desc,
.dr-desc {
  font-family: var(--font2);
}

.options-bar-cont {
  font-family: var(--font3);
}

.relevance-name {
  font-family: var(--font4);
}

.relevance-cont h2,
.popular-cont-head,
.sample-guide h1,
.choose-us-cont h2,
.footer-left h2,
.footer-center h2,
.footer-right h2,
.more-text,
.donwload-reports-cont-head h3,
.about-us-head h1,
.about-dr h2,
.dr-degre,
.heading,
.cart-head ,
.side-options ,
.copyright
{
  font-family: var(--font3);
}

.popular {
  font-family: var(--font1);
}



@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes shrinkLine {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}