/* src/components/Gallery.css */
.heading {
  text-align: start;
  font-size: 2rem;
  padding: 1.5rem 0rem;
  color: black;
}

.gallery-container {
  padding: 1rem 7rem;
  transition: filter 0.3s ease;
}

.gallery-container.blurred {
  filter: blur(4px);
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 2rem;
  box-sizing: border-box;
}

.gallery img {
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.95);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.modal-img {
  /* max-width: 90%; */
  max-width: 126rem;
  min-height: 80%;
  max-height: 90%;
  border-radius: 10px;
  animation: zoomIn 0.3s ease;
}

.nav svg {
  font-size: 3rem;
}

@keyframes zoomIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}

.nav {
  font-size: 3rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
}

.prev {
  left: 2rem;
}

.next {
  right: 2rem;
}