.Blood img{
    height: 117px;
    width: 117px;
    border-radius: 50%;
}

.relevance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin: 2rem 5rem;
    flex-wrap: wrap;
}

.relevance-img:hover{
    transform: scale(1.20);
    transition: 0.26s;
}