.choose-us {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 3rem 1.69rem 2rem;
}


.choose-desc {
    color: white;
}

.choose-item img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    border: 0.8rem solid white;
}

.choose-item {
    height: 30rem;
    width: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.choose-item h4 {
    font-size: 1.5rem;
}

.choose-desc {
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.5em;
    text-align: start;
}

.choose-item img:hover {
    transform: scale(1.05);
    transition: 0.2s;
    border: 0.4rem solid rgb(255, 247, 0);
}