.choose-us-cont {
    padding: 1.5rem 0rem 2rem;
    background-color: #21356d;
    color: white;
    /* background-color: black; */
}

.choose-us-cont h2 {
    padding: 1rem 0rem 1.5rem;
    font-size: 2.26rem;
    text-align: center;
    position: relative;
}

.choose-us-cont h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%; /* Adjust width as needed */
  border-bottom: 7px solid white;
}