.about-us-head {
    padding: 1rem 5rem 2rem;
    background-color: #21356d;
    color: white;
}

.about-us-head h1 {
    font-size: 1.8rem;
    text-align: center;
    padding: 0.5rem 0;
    color: white;
}

.head-desc {
    width: 100%;
    margin: 0 auto;
    color: white;
    padding: 1rem 2rem 1.5rem;
    font-size: 1.1rem;
    word-spacing: 2.6px;
    line-height: 2;
}

.head-desc  p {
    margin-top: 1rem;     /* adds space before each paragraph */
    line-height: 1.6;     /* improves readability */
}