.dr-img img {
    border-radius: 50%;
    padding: 1rem 0rem 0.1rem;
    width: 14rem;
}

.dr-img {
    position: relative;
    margin-bottom: 7.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about-dr h2 {
    font-size: 2rem;
    padding: 1rem 3rem;
    color: black
}

.about-dr {
    padding: 1.5rem 5rem;
    box-sizing: border-box;
    margin-bottom: 3rem;
}

.dr-desc {
    font-size: 1.26rem;
    padding: 1rem 2rem 0.5rem;
    width: 100%;
    font-weight: 400;
    line-height: 1.7;
}

.dr-degre {
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bolder;
    top: 17rem;
}

.about-dr .dr-desc p {
    margin-top: 1rem;
    /* adds space before each paragraph */
    line-height: 1.6;
    /* improves readability */
}