.add-user{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 2rem 1rem;
}

.add-user-head{
    margin-bottom: 1rem;
}

.add-user-form input ,.add-user-btn{
    color: black;
    width: 100%;
}

.user-name{
    background-color: white;
    color: black;
    font-size: 1.1rem;
    padding: 0.5rem 0.7rem;
}

.add-user-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.add-user-btn{
    color: white;
    background-color: green;
}

.add-user{
    position: relative;
}

.add-user .back-btn{
 position: absolute ;
 top: 1rem;
}