.admin-home {
    min-height: 26rem;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

header {
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 0rem;
}

.header-content {
    margin: 0 auto;
    padding: 0rem 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #4c51bf;
    font-size: 2rem;
}

.header-buttons {
    display: flex;
    gap: 1rem;
}

.header-buttons svg {
    height: 2rem;
}

.btn-home,
.btn-logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-home {
    background: #4a5568;
    color: white;
    font-size: 1rem;
}

.btn-home:hover {
    background: #2d3748;
}

.btn-logout {
    font-size: 1rem;
    background: #e53e3e;
    color: white;
}

.btn-logout:hover {
    background: #c53030;
}

.tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    overflow: hidden;
}

.tab {
    flex: 1;
    padding: 1rem 1.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 600;
    color: #718096;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
}

.tab-option {
    width: 100%;
    text-align: center;
}

.selected-tab {
    background-color: #21356d;
    background: linear-gradient(135deg, #ffe554 0%, #37a301 100%);
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

.selected-tab button {
    color: black;
}

.admin-main {
    padding: 2rem 2.6rem;
}

.all-items-cont-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem 3rem;
    margin: auto;
    background-color: aliceblue;
}

.all-items-table {
    width: 100%;
    color: black;
    background-color: #fff;
}


.all-items-table-cont table th,
.all-items-table-cont table td {
    padding: 0.6rem;
    font-size: 1.1rem;
    text-align: center;
}

.item-delete-btn {
    color: red;
}

.item-edit-btn {

    color: black;
}

.item-delete-btn,
.item-edit-btn,
.add-item-btn {
    background-color: rgb(197, 197, 197);
    padding: 0.3rem 0.5rem;
    font-size: 1.1rem;
}

.add-item-btn {
    background-color: blue;
    padding: 0.5rem 2rem;
}

.item-search-form {
    height: 2.26rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 1rem;
}

.item-search-form input {
    background-color: white;
    font-size: 1.1rem;
    padding: 0.5rem;
    color: black;
}

.item-search-form button {
    background-color: green;
    padding: 0rem 0.3rem;
    height: 100%;
    border-radius: 0px;
}