.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21356d;
    color: white;
    width: 100%;
    /* height: 6rem; */
    font-size: 1.16rem;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1.5rem 1rem;
}

.copyright a {
    color: white;
    text-decoration: none;
}

.copyright p {
    text-align: center;
}