footer {
  background-color: white;
  padding: 2.6rem 10rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

footer h2 {
  position: relative;
  margin-bottom: 3rem;
  padding: 1.5rem 0rem;
  color: black;
}

footer h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 69px;
  border-bottom: 5px solid #000;
}