footer {
    background-color: white;
    padding: 5rem 12rem 4rem 12rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start; 
}

footer h2 {
  position: relative; /* This is necessary */
  margin-bottom: 3rem;
  padding: 1.5rem 0rem;
}

footer h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 69px; /* Adjust width as needed */
  border-bottom: 5px solid #000;
}


