.footer-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    color: black;
}

.footer-left h2{
    margin-bottom: 1.5rem;
}
