.intro {
    padding: 0rem 1rem;
    font-size: 1.15rem;
    font-weight: 500;
    color: #435ca1;
}

.socials {
    padding: 0rem 1rem;
    display: flex;
    gap: 1rem;
    margin: 3rem 0rem;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 0.2rem;
    font-weight: 500;
    font-size: 1.15rem;
}

.footer-right iframe {
    width: 400px;
    height: 350px;
}

.socials .social-icon{
       font-size: 2.6rem;
    }