.footer-center ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    padding: 0rem 1rem;
}

.footer-center ul li{
    font-size: 1rem;
}

.footer-center a{
    font-weight: 500;
    font-size: 1.15rem;
    text-decoration: none;
    color: #435ca1;
}

.footer-center .admin-link {
    color: red;
    font-weight: bold;
}
