.shopping-cart {
    /* background: linear-gradient(#d0d0d0, #b0b0b0); */
    background-image: linear-gradient(to right bottom, oklch(20.992% 0.03416 263.451 / 0.81) 0px, rgb(0, 0, 0) 50%, oklch(27.837% 0.03355 257.693 / 0.807) 100%);
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 26rem;
    color: black;
}

.cart-cont {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    width: 90%;
    margin: 3.5rem auto 3rem;
    padding: 2rem 3rem;
    border-radius: 1.5rem;
    text-align: center;
}

.cart-cont h2 {
    font-size: 2.6rem;
}

.cart-item {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2.6rem;
    width: 80%;
}

.delete-btn {
    cursor: pointer;
    padding: 0.1rem;
    background-color: rgba(255, 0, 0, 0.815);
}

.cart-test-action .delete-btn svg{
    font-size: 1.8rem;
}


.subtotal h3 {
    margin: 4rem 2rem 2.69rem 0rem;
    font-size: 1.69rem;
    text-align: right;
}

.submit-btn {
    margin: 2.6rem 3rem 1.5rem 0rem;
    text-align: right;
}

.cart-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.empty-msg {
    font-size: 1.5rem;
    color: #000000;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: black;
}

.cart-table th,
.cart-table td {
    padding: 1.4rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart-table th {
    background-color: #f5f5f5;
    background: linear-gradient(90deg, #94EDFF, #00D4FF);
    font-weight: bold;
    font-size: 1.2rem;
}

.cart-test-details {
    max-width: 400px;
}

.test-pre b {
    color: #3b58a6;
}

.cart-test-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.test-pre {
    font-size: 1rem;
    color: #393939;
}

.cart-test-price {
    font-weight: bold;
    text-align: center;
}

.cart-test-action {
    text-align: center;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #f44336;
    padding: 5px;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #ffebee;
}

.cart-test-name,
.cart-test-price {
    font-size: 1.2rem;
}