.search-tests-cont {
    width: 100%;
    height: 100%;
    min-height: 25rem;
    padding: 1rem 6rem;
    display: flex;
    flex-direction: column;
}

.search-heading h1 {
    padding: 0rem 1rem 1rem;
    margin: 0rem;
    text-align: start;
    font-size: 2.25rem;
    color: black;
}

.search-tests {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 2.6rem;
    justify-content: center;
    justify-items: center;
}

.search-packages .popular {
    height: 16rem;
}

.test-heading {
    margin: 1rem 0rem;
    color: black;
}

.tests-result {
    margin-bottom: 2.69rem;
}

.no-tests h2{
    color: black;
}