.slider {
    height: 100%;
}

.slider-cont {
    height: 39.26rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* background-color: white; */
    object-fit: cover;
    overflow: hidden;
    background-color: black;
}

.second-slider {
    width: 40%;
}

.first-slider {
    height: 100%;
    width: 60%;
}