.popular-cont{
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
}

.popular-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5rem;
    
}

.popular-cont h2{
    font-size: 2rem;
    padding: 1.5rem 0rem;
    text-align: start;
    margin: 0rem 2.6rem;
}

.more{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 5rem;
    margin: 0rem 0.5rem;
    cursor: pointer;
}