.appointment-bg {
    /* background-color: grey; */
    /* background: linear-gradient(#d1d1d1, #cbcbcb); */
    background-image: linear-gradient(to right bottom, oklch(20.992% 0.03416 263.451 / 0.81) 0px, rgb(0, 0, 0) 50%, oklch(27.837% 0.03355 257.693 / 0.807) 100%);
    padding: 2rem 4rem 3rem 4rem;
}

.appointment-cont {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgb(250, 250, 250);
    color: black;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}

.appointment-heading {
    width: 100%;
    text-align: center;
    margin: 1rem 0rem 2rem;
}

.appointment-step {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.appointment-step-head {
    font-size: 1.5rem;
    font-weight: 500;
}

.appointment {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: auto;
}

.appointment-form {
    position: relative;
    height: auto;
    border-left: 1px solid grey;
    left: 1.2rem;
}

.details {
    border-left: none;
}

.radio-btn {
    padding: 0rem 0rem 0rem 4rem;

}

.calendar {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 470px;
    width: 500px;
}

.line {
    height: 50px;
    width: 1px;
    border-left: 1px solid grey;
    position: relative;
    left: 1.2rem;
}

.next-btn {
    margin: 2rem 0rem;
}

.proceed-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.6rem 0rem;
}

.smooth-open {
    max-height: 1000px;
    /* adjust based on content */
    opacity: 1;
    overflow: hidden;
    transition: max-height 1s ease, opacity 1s ease;
}

.smooth-closed {
    max-height: 50px;
    /* keeps small line visible */
    opacity: 1;
    overflow: hidden;
    transition: max-height 1s ease, opacity 1s ease;
}