.calendar-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: rgba(173, 216, 230, 0.451);
    padding: 2.5rem 2rem;
    margin-top: 2rem;
}

.date-card {
    text-align: center;
    background-color: white;
    padding: 2rem;
    cursor: pointer;
    color: black;
}

.day-date {
    font-weight: bold;
}

.today {
    background-color: rgb(45, 255, 45);
}

.select-date-cont {
    margin: 1.2rem 0rem;
    color: black;
}

.selected-date {
    font-weight: bold;
}

.selected {
    background-color: rgb(255, 233, 63);

}

.calendar-slider {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.calendar-scroll-btn {
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.calendar-scroll-btn.prev{
    margin-right: 0.5rem;
}
.calendar-scroll-btn.next{
    margin-left: 0.5rem;
}