.slot {
    background: linear-gradient(to right, #21356d, #006aff);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);     

}

.slot:hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);     

}

.slot.selected-btn {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    transition: background 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);     

}

.time-slot-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 2rem 0rem;
}

.slot.disabled {
  color: gray;
  background-color: #f3f3f3;
  cursor: not-allowed;
  pointer-events: none; /* make it unclickable */
}

.selected-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.26rem;
    margin-top: 2rem;
    color: black;
}

.error-message {
    color: red;
}

.time-scroll-btn {
    width: 100%;
    height: 2.6rem;
    padding: 0.2rem 0rem;
    display: none;
}

.time-scroll-btn  svg{
    font-size: 2rem;
}

.time-slot-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}