.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.489);
  z-index: 999999;
}

.login-cont {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111111110000;
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  height: auto;
  width: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.cancel-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #ff0000;
  cursor: pointer;
}

.cancel-icon:hover {
  color: #b62f2f;
}

.login-form h1 {
  margin: 1.2rem 0rem 2.2rem;
  text-align: center;
  font-size: 2.6rem;
}

.login-btn {
  /* height: 2.69rem; */
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.otpInput {
  width: 3rem;
  height: 3rem;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  color: black;
  border-radius: 0.69rem;
}

.otp-msg {
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
}

#outlined-basic,
#outlined-password-input {
  font-size: 1.2rem;
}

.otp-btns {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  gap: 1rem;
}

.phone-input {
  height: 3.6rem;
}

.react-tel-input .form-control {
  font-size: 1.26rem;
  height: 3.6rem;
}

.phone-btn button {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  text-transform: 'none';
  padding: 0.6em 1rem;
  background-color: #21356d;
}