.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contact svg {
    font-size: 1.85rem;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5rem;
}

.contact-info a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.contact-info div {
    font-size: 1rem;
}
.nav-phone {
display: flex;
flex-direction: column;
}