.nav-logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-logo img {
    padding: 0rem 0.8rem;
    height: 5.26rem;
    border-right: 4px solid #21356d;
}

.logo-name {
    margin-left: 0.8rem;
    color: #21356d;
    font-size: 1.26rem;
    line-height: 1.2;
    font-weight: bold;
} 

.logo-link{
    text-decoration: none;
}







