.nav-search form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid black;
    height: 2.5rem;
}

.nav-search input {
    height: 2.5rem;
    width: 25rem;
    background-color: transparent;
    border: none;
    padding: 1rem;
    color: black;
    font-size: 1.1rem;
}

.nav-search .search-btn {
    border-radius: 0;
    height: 2.5rem;
    padding: 0rem 0.5rem;
    background-color: green;
    text-align: center;
}