.navbar {
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #21356d;
    background-color: white;
    color: black;
}

.nav-space {
    margin-right: 0.69rem;
}

.nav-signIn svg {
    font-size: 2.5rem;
    border-radius: 50%;
}